<!-- Loop over each object in the projects array -->
{{#each post as |currentPost| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->

      <a href="/project/{{currentPost.id}}">{{currentPost.title}}</a>
    </h2>
    <p>
      
     
    </p>
    <p>Posted By {{currentPost.user.user_name}} on {{format_date currentPost.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{currentPost.content}}
    </p>
  </div>
</div>
{{/each}}
